body{
    background-color: rgba(16, 16, 214, 0.521);
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.content{
    height: 70vh;
    width: 400px;
    background-color: rgb(68, 11, 68);
    border-radius: 12px;
    padding-left: 1rem;
    padding-right: 2rem;
}
.info{
    position: absolute;
    bottom: 1rem;
}
p{
    color: white;
}
input{
    background-color: rgb(99, 21, 99);
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 100%;
    color: white;
    padding-left: 1rem;
}

input:focus-visible{
    outline: none;
}
.people{
    font-size: 1.5rem;
    color: white;
}
.icon{
    background-color: rgba(172, 172, 243, 0.5);
    padding: 0.4rem 0.6rem;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}
.flex{
    display: flex;
    justify-content: space-between;
}